<div class="container">
  <div class="topbar">
    Territorios Parque
  </div>

  <div class="form-container">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput type="tel" [(ngModel)]="number" name="card" placeholder="Ingrese el teléfono">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Territorio</mat-label>
        <mat-select [(ngModel)]="card" name="card">
          <mat-option *ngFor="let card of cards" [value]="card">
            {{ card.number }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Inicio</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="generateLink()">
          Generar Mensaje
        </button>
      </div>
    </form>
  </div>
</div>
